/************ input style ************/
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 11rem;
}

fieldset {
  border: 2px solid #ccc;
  padding: 10px;
  margin-bottom: 1rem;
}

.error-icon {
  font-size: 1.5rem;
  vertical-align: middle;
  margin-left: 5px;
  color: red;
  overflow: hidden;
  white-space: nowrap;
}

.inputError {
  border: 2px solid red;
  background-color: #f8d7da;
}

/*! FUNKAR INTE FÖRTILLFÄLET - LIGGER I APP.CSS ISTÄLLET */
/* .error-messages {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.error-link {
  display: block;
  margin: 10px 0;
  color: #0056b3;
}

.error-link:focus {
  outline: 2px solid #0056b3;
  padding: 1%;
} */
