
.error-messages {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}

.error-link {
  display: block;
  margin: 10px 0;
  color: #0056b3; /* Blå länkfärg */
}

.error-link:focus {
  outline: 2px solid #0056b3;
  padding: 1%;
}
